/*  your css code here. If applicable */
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 100px);
        gap: 10px;
        text-align: center;
      }

      .grid-container > div {
        border: 1px solid black;
      }